language: objective-c
osx_image: xcode10.1
before_script:
- "curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install.sh | sudo bash"
matrix:
    include:
        - name: "NeedleFoundationTests"
          script: xcodebuild test -project NeedleFoundation.xcodeproj -scheme NeedleFoundationTests
        - name: "NeedleFoundationTestTests"
          script: xcodebuild test -project NeedleFoundation.xcodeproj -scheme NeedleFoundationTestTests
        - name: "NeedleGeneratorTests"
          script: cd Generator && swift test -Xswiftc -DDEBUG
        - name: "NeedleGeneratorBinary"
          script: cd Generator && swift build -c release -Xswiftc -static-stdlib
        - name: "NeedleSampleMVCApp"
          install: cd Sample/MVC && carthage update --platform ios
          script: xcodebuild build -project ../../Sample/MVC/TicTacToe/TicTacToe.xcodeproj -scheme TicTacToe -destination 'platform=iOS Simulator,OS=11.4,name=iPhone X'
        - name: "NeedleSampleMVCTests"
          install: cd Sample/MVC && carthage update --platform ios
          script: xcodebuild test -project ../../Sample/MVC/TicTacToe/TicTacToe.xcodeproj -scheme TicTacToeTests -destination 'platform=iOS Simulator,OS=11.4,name=iPhone X'
        - name: "NeedleSamplePluginizedApp"
          install: cd Sample/Pluginized && carthage update --platform ios
          script: xcodebuild build -project ../../Sample/Pluginized/TicTacToe/TicTacToe.xcodeproj -scheme TicTacToe -destination 'platform=iOS Simulator,OS=11.4,name=iPhone X'
        - name: "NeedleSamplePluginizedScoreSheetTests"
          install: cd Sample/Pluginized && carthage update --platform ios
          script: xcodebuild test -project ../../Sample/Pluginized/TicTacToe/TicTacToe.xcodeproj -scheme ScoreSheetTests -destination 'platform=iOS Simulator,OS=11.4,name=iPhone X'
        - name: "NeedleSamplePluginizedTicTacToeCoreTests"
          install: cd Sample/Pluginized && carthage update --platform ios
          script: xcodebuild test -project ../../Sample/Pluginized/TicTacToe/TicTacToe.xcodeproj -scheme TicTacToeCoreTests -destination 'platform=iOS Simulator,OS=11.4,name=iPhone X'
script:
    - fossa
